* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Nunito Sans", sans-serif;
    --base-color: #FF0000;
}

.btn {
    background: var(--base-color);
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    padding: 22px 55px;
    border: none;
    border-radius: 40px;
    margin: 10px;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
}

.btn--white {
    background: white;
    color: var(--base-color);
}

.btn--small {
    padding: 11px 29px;
    box-shadow: 0px 3px 6px #FF00004D;
}

.header {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background: #00000066;
    border-bottom: 2px solid #FFFFFF33;
    z-index: 2;
}

.container {
    max-width: 1088px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header--flex {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 35px;
    display: flex;
}

.logo span {
    color: var(--base-color);
}

.header ul {
    color: white;
    display: flex;
    list-style: none;
}

.header ul a {
    padding: 30px 40px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}

.header ul a:hover {
    background: #FFFFFF33;
    cursor: pointer;
}

.banner {
    background: url("../images/Image.png") center/cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.banner__content {
    position: relative;
    z-index: 2;
}

.banner::before {
    content: "";
    display: block;
    width: 100%;
    background: #111;
    opacity: 0.5;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.banner h1 {
    text-transform: uppercase;
    color: white;
    font-size: 100px;
    font-weight: 800;
    text-align: center;
    margin: 10px;
}

.banner p {
    color: white;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 30px;
}

.banner .buttons {
    display: flex;
    justify-content: center;
}

.arrow {
    position: absolute;
    bottom: -27px;
    width: 55px;
    height: 55px;
    background: var(--base-color);
    border-radius: 55px;
    display: flex;
    padding: 15px;
}

.arrow__flex {
    display: flex;
    justify-content: center;
}

h2 {
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    margin: 30px;
    position: relative;
}

h2:after {
    content: "";
    width: 50px;
    height: 3px;
    border-radius: 8px;
    background: var(--base-color);
    box-shadow: 0 1px 6px #FF00004D;
    position: absolute;
    right: -70px;
    top: calc(50% - 1.5px);
}

h2:before {
    content: "";
    width: 50px;
    height: 3px;
    border-radius: 8px;
    background: var(--base-color);
    box-shadow: 0 1px 6px #FF00004D;
    position: absolute;
    left: -70px;
    top: calc(50% - 1.5px);
}

.blog {
    padding: 90px 0;
    background: white;
}

.blog__flex {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.box {
    margin: 20px 0;
    width: 100%;
    padding: 20px;
}

.blog img {
    width: 100%;
}

h3 {
    text-transform: uppercase;
    color: #6A6A6A;
    font-size: 19px;
    line-height: 26px;
    margin: 15px 0;
}

p {
    color: #6A6A6A;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    margin-bottom: 15px;
}

.service {
    background: #28272C;
    color: white;
    padding: 90px 0;
}

.service__flex {
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 15px;
}

.service h3, .service p {
    color: white;
}

.contact {
    padding: 90px 0;
    background: white;
}

.contact__flex {
    display: flex;
    align-items: flex-start;
}

form {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}

input[type="text"],
input[type="email"],
textarea {
    outline: none;
    padding: 8px 12px;
    margin-bottom: 10px;
    border: 1px solid #D1D1D1;
    border-radius: 8px;
}

textarea {
    height: 140px;
}

textarea[placeholder="Type your message"] {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
    color: #B2B2B2;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    box-shadow: 0px 1px 6px #FF00004D;
    border: 1px solid #FF0000;
    border-radius: 8px;
}

.contact p {
    font-size: 10px;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
}

.custom-checkbox {
    display: flex;
}

.custom-checkbox input[type="checkbox"] {
    display: none;
}

.custom-checkbox span {
    display: block;
    width: 22px;
    height: 22px;
    border: 1px solid gray;
    flex-shrink: 0;

    margin: 5px 5px 0 0;
    border-radius: 8px;
}

.custom-checkbox input:checked + span {
    background: url("../images/IconCheck.svg") no-repeat center;
}

.contact--btn {
    display: flex;
    justify-content: flex-end;
}

.btn--contact {
    border: 1px solid var(--base-color);
    box-shadow: 0px 3px 6px #FF00004D;
    padding: 11px 52px;
}

.footer {
    background: #28272C;
}

.footer--flex {
    width: 100%;
}

.footer .logo {
    font-size: 25px;
    padding-top: 40px;
}

.footer .logo text {
    padding-left: 5px;
}

.footer nav {
    height: 100px;
    margin: 20px 0 40px 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.footer ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
}

.footer li {
    list-style: none;
    font-size: 14px;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    padding: 2px;
    margin-right: 100px;
}

.footer li:hover {
    color: var(--base-color);
    cursor: pointer;
}

.footer p {
    margin-bottom: 0;
    font-size: 12px;
}